{% extends 'blog/base.html' %}

{% block content %}
    <h1>About Ticketstub</h1>
    <p>
        Ticketstub.com is an independent online ticket broker/ticket agency that specializes
        in premium sold out tickets to events nationwide as well as Canada and some events in Europe.
        We broker tickets, and the ticket price is dependent on the current market price,
        which is usually above the face value of the ticket. We always do our best to offer a great selection
        of premium and sold out event tickets. We most often obtain tickets on the secondary market
        from current season ticket holders, promoters, coaches, players, as well as other ticket brokers.
        Ticketstub.com offers tickets for any event you can think of. Theater, sports, concert events,
        etc. all are available on Ticketstub.com.In doing a search on our site you will find tickets
        for everything from a rap concert, to a Broadway play, a Baseball game, UFC event and much more.
        Just about every happening event, game or show in the USA and Canada.
        What makes Ticketstub.com unique from our competitors is our commitment to customer service.
        You can contact someone from Ticketstub anytime online, email
        or between 9am and 8pm central - 7 days a week on the phone at 866-843-5042.
        We understand the importance of customer service, and for this reason,
        have made contact with the customer a high priority.
        Complete customer satisfaction with our service, tickets, and pricing are of the utmost importance to us.
        We don't just want to make A sale with you, we want you to come back for all your ticketing needs.
        You can also access Ticketstub.com easily from your phone with our iPhone/iPad and Android applications
        or our mobile website.
    </p>
{% endblock %}